<section class="flex gap-2 mb-8">
    <article class="flex flex-col gap-4">
        <div class="flex text-pretty gap-2 justify-center items-center">
            <p>
                Mi nombre es Gastón y desde siempre he sentido una pasión por el
                diseño. Por ello, decidí estudiar y graduarme en la carrera
                universitaria de Diseñador Multimedia. Durante muchos años,
                ejercí esta profesión con entusiasmo y dedicación. Sin embargo,
                mi camino dio un giro cuando descubrí el mundo de la
                programación. Fue entonces cuando decidí combinar mis dos
                grandes pasiones: <strong class="text-cyan-300"
                    >el diseño y la programación</strong
                >.
            </p>
            <img
                class="rounded-full size-44 mb-1"
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTD23s_cK9IqWa9bQKyK9z2fck1H2ACnnj6QxTzfKVRtHXx27spb3f1Jz889TiOLD1uR0o&usqp=CAU"
                alt="misho"
            />
        </div>
        <p>
            Uno de los hitos más significativos en mi trayectoria fue mi
            experiencia en el bootcamp de Henry. Esta experiencia fue tan
            gratificante que terminé desempeñándome como <strong
                class="text-cyan-300">Full-Stack Teaching Assistant</strong
            >, brindando apoyo y orientación a alumnos que estaban dando sus
            primeros pasos en el mundo de la programación. Además, durante este
            tiempo, tuve la oportunidad de participar en la creación de varios
            sitios web institucionales, entre otros proyectos.
        </p>
        <p>
            Creo firmemente que mi formación como diseñador me ha proporcionado
            una base sólida y una perspectiva única que aplico en mi trabajo
            como <strong class="text-cyan-300">desarrollador frontend</strong>.
            Esta combinación de habilidades me permite crear experiencias
            intuitivas y atractivas para los usuarios en el software que
            desarrollo.
        </p>
    </article>
</section>
