---
import ExperienceItem from "../components/ExperienceItem.astro";

const EXPERIENCIE = [
    {
        date: "Agosto 2020 - ",
        title: "Subsecretario de comunicacion institucional",
        workplace: "Secretaria de Seguridad, Gobierno de la Rioja",
        description:
            "Dirigir el plan de comunicación institucional coordinando y articulando el trabajo con todas las áreas dependientes de la secretaria de Seguridad",
        abilities: [
            "Liderazgo de equipos multidisciplinarios",
            "Dirección y desarrollo de equipos de trabajo",
            "Integración de equipos",
        ],
        link: false,
        latest: true,
    },
    {
        date: "Julio 2022 - Agosto 2022",
        title: "Full-Stack Teaching Assistant",
        workplace: "Academia Henry",
        description:
            "Ayudante de bootcamp (TA) para alumnos de Desarrollo Full-Stack.",
        abilities: [
            "Coordinar Integración de Estudiantes.",
            "Orientar a los estudiantes en los primeros pasos de la cursada.",
            "Asistir en Resolución de Ejercicios y Fomentar Colaboración Grupal.",
            "Contribuir a la Mejora de Procesos del Bootcamp.",
        ],
        link: false,
        latest: false,
    },
    {
        date: "Mayo 2016 - Julio 2020",
        title: "Analista de bases de datos",
        workplace:
            "Direccion de liquidacion, Municipalidad de La Rioja Capital",
        description:
            "Encargado de asegurar la integridad de la información y mejorar el acceso a datos clave para respaldar la toma de decisiones.",
        abilities: [
            "Generar Informes Consolidados de Gestión.",
            "Desarrollar Tableros de Indicadores.",
            "Identificar y Revelar Desvíos en Informes.",
            "Investigar y Proponer Herramientas para Mejorar Datos.",
        ],
        link: false,
        latest: false,
    },
    {
        date: "Mayo 2016 - Julio 2020",
        title: "Desarrollador de front-end",
        workplace: "Direccion de prensa, Municipalidad de La Rioja Capital",
        description:
            "Desarrollo de sitio web institucional de la Municipalidad utilizando tecnologias como html, css, javascript y wordpress",
        abilities: [
            "Desarrollo de Interfaces de Usuario (UI).",
            "Implementación de Diseños.",
            "Desarrollo Responsivo.",
            "Optimización de Rendimiento.",
        ],
        link: false,
        latest: false,
    },
];
---

<ol class="relative border-s border-gray-200 dark:border-gray-700 ml-4">
    {
        EXPERIENCIE.map((item) => (
            <li class="mb-10 ms-6">
                <ExperienceItem {...item} />
            </li>
        ))
    }
</ol>
