---
const { href } = Astro.props;
---

<a
    class="rounded-full bg-cyan-700 p-4 flex flex-row gap-2 items-center justify-center w-auto hover:scale-110 hover:bg-cyan-800 transition"
    href={href}
    target="_blank"
>
    <slot />
</a>
